[ ca ]
default_ca = root_ca

[ root_ca ]
dir               = .
database          = $dir/index.txt
new_certs_dir     = $dir
certificate       = $dir/rootCA.pem
private_key       = $dir/rootCA.key
serial            = $dir/serial
crlnumber         = $dir/crlnumber
default_days      = 365
default_md        = sha256
policy            = policy_loose
x509_extensions   = v3_ca
crl_extensions    = crl_ext
default_crl_days  = 30

[ policy_loose ]
commonName              = supplied
organizationName        = optional
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional

[v3_ca]
basicConstraints = critical,CA:true
keyUsage = critical, cRLSign, keyCertSign
subjectKeyIdentifier = hash

[crl_ext]
authorityKeyIdentifier = keyid:always

